<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <button
    class="adder-button"
    mat-stroked-button
    [routerLink]="['/coffee/create']">
    <mat-icon>add_circle_outline</mat-icon>
    Add custom coffee
  </button>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let coffee of coffees">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="card-title">
            {{ coffee.name }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ formatRoast(coffee) }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="description-box">{{ coffee.description }}</div>
          <div class="extraction-box"></div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="dashboard-card-buttons">
          <div class="button-row">
            <button
              mat-stroked-button
              color="warn"
              [routerLink]="['/coffee/' + coffee.id + '/delete']">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
            <button
              mat-stroked-button
              [routerLink]="['/coffee/' + coffee.id + '/edit']">
              <mat-icon>edit</mat-icon>
              Edit
            </button>
            <button mat-stroked-button [routerLink]="['/coffee/' + coffee.id]">
              <mat-icon>list</mat-icon>
              Details
            </button>
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/coffee/' + coffee.id + '/extraction/create']">
              <mat-icon>play_arrow</mat-icon>
              New extraction
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
