<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div class="form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        name="searchParamsName"
        [(ngModel)]="this.searchParams.name"
        (change)="keyUp.next($event)"
        (keyup)="keyUp.next($event)" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input
        type="text"
        matInput
        name="searchParamsDescription"
        [(ngModel)]="this.searchParams.description"
        (keyup)="keyUp.next($event)" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Roast</mat-label>
      <select
        matNativeControl
        name="searchParamsRoast"
        [(ngModel)]="this.searchParams.roast"
        (change)="keyUp.next($event)">
        <option value="" selected>Any</option>
        <option value="LIGHT">Light</option>
        <option value="MEDIUM">Medium</option>
        <option value="DARK">Dark</option>
      </select>
    </mat-form-field>
  </div>
  <button mat-raised-button [routerLink]="['/create-coffee-bean']">
    Add custom coffee bean
  </button>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let coffee of coffees">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ coffee.name }}
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button
                mat-menu-item
                [routerLink]="['/' + coffee.id + '/edit-coffee-bean']">
                Edit
              </button>
              <button
                mat-menu-item
                [routerLink]="['/' + coffee.id + '/delete-coffee-bean']">
                Remove
              </button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle>
            {{
              coffee.coffeeRoast === 'DARK'
                ? 'Dark roast'
                : coffee.coffeeRoast === 'MEDIUM'
                ? 'Medium roast'
                : 'Light roast'
            }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{ coffee.description }}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
