.mat-h1 {
  left: 40px;
}

.grid-container {
  top: 40px;
  margin: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.form {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-between;
}

.filter-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.adder-button {
  height: 3em;
  width: 80%;
  right: 10%;
  left: 10%;
  margin-top: 1em;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.card-title {
  max-width: 25em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-all;
}

.adder-button {
  height: 3em;
  width: 80%;
  right: 10%;
  left: 10%
}

.dashboard-card-content {
  flex-grow: 1;
  text-align: left;
  margin-top: 10px;
  display: flex;
  word-wrap: break-word;
}

.description-box {
  max-height: 13em;
  max-width: 130px;
  overflow-wrap: break-word;
  hyphens: manual;
  overflow: hidden;
  text-overflow: ellipsis;
}

.extraction-box {
  flex-grow: 1;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
}
