.mat-h1 {
  left: 40px;
}

.grid-container {
  top: 40px;
  margin: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.control-panel {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.form {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.search-input {
  max-width: 140px;
}

.filter-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.adder-button {
  height: 3em;
  width: 60%;
  right: 20%;
  left: 21%;
  margin-top: 1em;
}

.dashboard-card {
  max-width: 120em;
  min-width: 80em;
  min-height: 428px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-self: center;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.card-title {
  max-width: 25em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-all;
}

.card-subtitle {
  margin-bottom: 5px;
}

.dashboard-card-content {
  flex-grow: 1;
  text-align: left;
  margin-top: 10px;
  display: flex;
  word-wrap: break-word;
}

.description-box {
  min-height: 13em;
  width: 130px;
  overflow-wrap: break-word;
  hyphens: manual;
  overflow: hidden;
  text-overflow: ellipsis;
}

.extraction-box {
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2em;
  padding-bottom: 10px;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
}

.score-card {
  height: 276px;
  position: relative;
  overflow-wrap: break-word;
  hyphens: manual;
  overflow: hidden;
  text-overflow: ellipsis;
}

.average-score {
  position: absolute;
  text-align: center;
  width: 100%;
  right: 5px;
  top: 4.7em;
  font-size: 1em;
}

.chart {
  max-height: 120px;
  max-width: 120px;
  margin-top: 0.8em;
  margin-bottom: 1.2em;
}
