.mat-h1 {
  left: 40px;
}

.grid-container {
  top: 40px;
  margin: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.form {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-between;
}

.dashboard-card {
  justify-content: space-between;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.adder-button {
  height: 3em;
  width: 80%;
  right: 10%;
  left: 10%
}

.dashboard-card-content {
  flex-grow: 1;
  text-align: left;
  margin-top: 10px;
  display: flex;
}

.description-box {
  height: 100%;
  max-width: 130px;
  overflow-wrap: break-word;
  hyphens: manual;
  overflow: hidden;
}

.extraction-box {
  flex-grow: 1;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}