<mat-card class="extraction-card">
  <mat-card-content>
    <div class="extraction-container">
      <div *ngIf="exists" class="card-buttons">
        <button
          *ngIf="extraction"
          class="card-button"
          mat-icon-button
          [routerLink]="[
            '/coffee/' +
              this.extraction.beanId +
              '/extraction/' +
              this.extraction.id +
              '/edit'
          ]">
          <mat-icon class="action-icon">edit</mat-icon>
        </button>
        <button class="card-button" mat-icon-button (click)="shareRecipe()">
          <mat-icon class="action-icon">share</mat-icon>
        </button>
      </div>
      <div class="sum-container">
        <div *ngIf="rated()">
          <div
            class="score-container"
            [ngClass]="[
              realizeOverallRating() > 9
                ? 'score-container'
                : 'score-to-9-container'
            ]">
            <b>{{ this.extraction?.overallRating }} / 25</b>
          </div>
          <div class="chart-container">
            <canvas
              baseChart
              class="chart"
              [data]="doughnutChartData"
              [type]="doughnutChartType"
              [options]="doughnutChartOptions">
            </canvas>
          </div>
        </div>
        <div *ngIf="!rated()" id="unrated-element">
          <mat-icon>chevron_left</mat-icon><b id="unrated-text">Rate now</b>
        </div>
      </div>
      <div class="separator-line"></div>
      <div class="input-container">
        <div class="info-element">
          <div class="info-legend">
            <p><b>Brew: </b></p>
          </div>
          <div class="info-value">
            <p>{{ formatBrewMethod() }}</p>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>Grind: </b></p>
          </div>
          <div class="info-value">
            <p>{{ formatGrindSetting() }}</p>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>Temp: </b></p>
          </div>
          <div class="info-value">
            <p *ngIf="this.extraction?.waterTemperature">
              {{ this.extraction?.waterTemperature }}°C
            </p>
            <p *ngIf="!this.extraction?.waterTemperature">undefined</p>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>Dose: </b></p>
          </div>
          <div class="info-value">
            <p *ngIf="this.extraction?.dose">{{ this.extraction?.dose }}g</p>
            <p *ngIf="!this.extraction?.dose">undefined</p>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>Water: </b></p>
          </div>
          <div class="info-value">
            <p *ngIf="this.extraction?.waterAmount">
              {{ this.extraction?.waterAmount }}ml
            </p>
            <p *ngIf="!this.extraction?.waterAmount">undefined</p>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>Time: </b></p>
          </div>
          <div class="info-value">
            <p>{{ formatBrewTime() }}</p>
          </div>
        </div>
      </div>
      <div class="separator-line"></div>
      <div class="rating-container" *ngIf="rated()">
        <div class="info-element">
          <div class="info-legend">
            <p><b>Body: </b></p>
          </div>
          <div class="info-value">
            <mat-icon
              class="rate-star"
              *ngFor="let i of ratingArray(); let x = index">
              {{ realizeBody() > x ? 'star' : 'star_border' }}
            </mat-icon>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>Acid: </b></p>
          </div>
          <div class="info-value">
            <mat-icon
              class="rate-star"
              *ngFor="let i of ratingArray(); let x = index">
              {{ realizeAcidity() > x ? 'star' : 'star_border' }}
            </mat-icon>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>Aroma: </b></p>
          </div>
          <div class="info-value">
            <mat-icon
              class="rate-star"
              *ngFor="let i of ratingArray(); let x = index">
              {{ realizeAromatics() > x ? 'star' : 'star_border' }}
            </mat-icon>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>Sweet: </b></p>
          </div>
          <div class="info-value">
            <mat-icon
              class="rate-star"
              *ngFor="let i of ratingArray(); let x = index">
              {{ realizeSweetness() > x ? 'star' : 'star_border' }}
            </mat-icon>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>After: </b></p>
          </div>
          <div class="info-value">
            <mat-icon
              class="rate-star"
              *ngFor="let i of ratingArray(); let x = index">
              {{ realizeAftertaste() > x ? 'star' : 'star_border' }}
            </mat-icon>
          </div>
        </div>
        <div class="info-element"></div>
      </div>
      <div class="rating-container" *ngIf="!rated()">
        <div class="info-element">
          <div class="info-legend">
            <p><b>Body: </b></p>
          </div>
          <div class="info-value">
            <p>unrated</p>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>Acid: </b></p>
          </div>
          <div class="info-value">
            <p>unrated</p>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>Aroma: </b></p>
          </div>
          <div class="info-value">
            <p>unrated</p>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>Sweet: </b></p>
          </div>
          <div class="info-value">
            <p>unrated</p>
          </div>
        </div>
        <div class="info-element">
          <div class="info-legend">
            <p><b>After: </b></p>
          </div>
          <div class="info-value">
            <p>unrated</p>
          </div>
        </div>
        <div class="info-element"></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
