<div class="grid-container">
  <h1 class="mat-h1">Recipes</h1>
  <div class="descriptionRecipes">
    On this page you can find a list of all the coffee recipes the community has
    graciously shared. If you yourself are also interested in sharing your own
    recipe, then please head on to your own dashboard and share one of your
    extractions, preferably one of the best ones :)
  </div>
  <mat-grid-list cols="4" rowHeight="35em">
    <mat-grid-tile *ngFor="let recipe of recipes">
      <mat-card class="recipe-card">
        <mat-card-header>
          <mat-card-title class="card-title">
            <div>Recipe for {{ recipe.coffeeBeanName }}</div>
            <p>using {{ formatBrewMethod(recipe) }}</p>
          </mat-card-title>
          <mat-card-subtitle>
            <p class="coffee-info">Coffee Roast: {{ formatRoast(recipe) }}</p>
            <p class="coffee-info">Strength: {{ recipe.coffeeBeanStrength }}</p>
            <p class="coffee-info">Blend: {{ recipe.coffeeBeanBlend }}</p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="description-box">{{ recipe.extractionRatingNotes }}</div>
          <mat-divider></mat-divider>
          <div class="ratings-box">
            <div class="rating-item">Body: {{ recipe.extractionBody }}/5</div>
            <div class="rating-item">
              Acidity: {{ recipe.extractionAcidity }}/5
            </div>
            <div class="rating-item">
              Aromatics: {{ recipe.extractionAromatics }}/5
            </div>
            <div class="rating-item">
              Sweetness: {{ recipe.extractionSweetness }}/5
            </div>
            <div class="rating-item">
              Aftertaste: {{ recipe.extractionAftertaste }}/5
            </div>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="dashboard-card-buttons">
          <div class="button-row">
            <button
              mat-stroked-button
              [routerLink]="['/community/' + recipe.recipeId]">
              <mat-icon>list</mat-icon>
              Details
            </button>
            <a
              [disabled]="!recipe.coffeeBeanUrl"
              mat-stroked-button
              [href]="recipe.coffeeBeanUrl"
              target="_blank">
              <mat-icon>open_in_new</mat-icon>
              Buy Coffee
            </a>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
