<mat-drawer-container class="layout" autosize>
  <mat-toolbar class="toolbar-container" color="primary">
    <div class="logo-wrapper">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ appName }}</span>
    </div>
    <div [ngSwitch]="isAuthenticated">
      <div *ngSwitchCase="false">
        <a routerLink="/login"> Login </a>
        <a routerLink="/register"> Register </a>
      </div>
      <div *ngSwitchCase="true">
        <mat-icon [routerLink]="['/profile']">account_circle</mat-icon>
        <button mat-raised-button (click)="this.logout()">Logout</button>
      </div>
    </div>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
  <!-- display angular content -->
  <ng-content></ng-content>
</mat-drawer-container>
