<mat-drawer-container class="layout" autosize>
  <mat-toolbar class="toolbar-container" color="primary">
    <div class="logo-wrapper">
      <a [routerLink]="['/home']">{{ appName }}</a>
      <a [routerLink]="['/community']"> Community</a>
      <a [routerLink]="['/my-recipes']"> My Recipes</a>
      <a routerLink="/admin" *ngIf="isAdmin">Admin</a>&nbsp;
    </div>
    <div [ngSwitch]="isAuthenticated">
      <div *ngSwitchCase="false">
        <a routerLink="/login"> Login </a>
        <a routerLink="/register"> Register </a>
      </div>
      <div class="profile-container" *ngSwitchCase="true">
        <button mat-flat-button [routerLink]="['/profile']">
          <mat-icon>account_circle</mat-icon>
          My Profile
        </button>
        <button mat-flat-button (click)="this.logout()">Logout</button>
      </div>
    </div>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
  <!-- display angular content -->
  <ng-content></ng-content>
</mat-drawer-container>
