<app-container>
  <mat-card>
    <mat-card-content>
      <h1>Register</h1>
      <form
        class="registerForm"
        [formGroup]="registerForm"
        (submit)="onSubmit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            name="email"
            placeholder="m.musermann@email.at"
            required
            matInput />
          <mat-error *ngIf="registerForm.controls.email.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            name="password"
            placeholder="********"
            required
            type="password"
            matInput />
          <mat-error *ngIf="registerForm.controls.email.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">
          Register
        </button>
        <p>Go back to <a routerLink="/login">Login</a></p>
      </form>
    </mat-card-content>
  </mat-card>
</app-container>
