.mat-h1 {
  left: 40px;
}

.grid-container {
  top: 40px;
  margin: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.card-title {
  max-width: 25em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-all;
}

.ratings-box {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.description-box {
  overflow-wrap: break-word;
  hyphens: manual;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  height: 100px;
  margin-top: 3px;
}

.rating-item {
  margin-right: 15px;
}

.dashboard-card-buttons{
  height: 100px;
}

.shareButton{
  background-color: rgb(255, 69, 0, 1) !important;
  color: white !important;
}