<app-container>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Search and filter</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form">
      <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input
          type="number"
          matInput
          name="searchParameterId"
          [(ngModel)]="this.searchParameters.id"
          (change)="keyUp.next($event)"
          (keyup)="keyUp.next($event)" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input
          type="text"
          matInput
          name="searchParameterEmail"
          [(ngModel)]="this.searchParameters.email"
          (keyup)="keyUp.next($event)" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <select
          matNativeControl
          name="searchParameterRole"
          [(ngModel)]="this.searchParameters.role"
          (change)="keyUp.next($event)">
          <option value="" selected>All</option>
          <option value="ADMIN">ADMIN</option>
          <option value="USER">USER</option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Is Active</mat-label>
        <select
          matNativeControl
          name="searchParameterActive"
          [(ngModel)]="this.searchParameters.active"
          (change)="keyUp.next($event)">
          <option value="" selected>Both</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <br />
  <table mat-table [dataSource]="users" class="mat-elevation-z1">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-Mail</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let user">{{ user.role }}</td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Active</th>
      <td mat-cell *matCellDef="let user">
        <mat-icon [classList]="user.active ? 'user-active' : 'user-inactive'">circle</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <a mat-icon-button [routerLink]="[user.id, 'edit']" aria-label="Edit user">
          <mat-icon>edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</app-container>
