<app-container>
  <mat-card>
    <mat-card-content>
      <h1>Reset Password</h1>
      <form class="resetForm" [formGroup]="resetForm" (submit)="onSubmit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            placeholder="m.musermann@email.at"
            required
            matInput />
          <mat-error *ngIf="resetForm.controls.email.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Reset</button>
        <p>Or click here to <a routerLink="/register">Register</a></p>
      </form>
    </mat-card-content>
  </mat-card>
</app-container>
