<app-container>
  <mat-card>
    <mat-card-content>
      <h1>Login</h1>
      <form class="loginForm" [formGroup]="loginForm" (submit)="onSubmit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            placeholder="m.musermann@email.at"
            required
            matInput />
          <mat-error *ngIf="loginForm.controls.email.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input formControlName="password" required type="password" matInput />
          <mat-error *ngIf="loginForm.controls.email.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Login</button>
        <p>
          Or click here if you forgot your
          <a routerLink="/resetpassword">Password</a>
        </p>
        <p>Or click here to <a routerLink="/register">Register</a></p>
      </form>
    </mat-card-content>
  </mat-card>
</app-container>
