mat-card-content {
  margin-top: 16px;
}

button[type=button] {
  margin-top: 22px;
}

.changeCredentialsForm {
    display: flex;
    flex-direction: column;
}

.changeCredentialsForm p {
    margin: 10px auto 0 auto;
}

mat-divider {
  margin-bottom: 22px;
}
