mat-card:not(:first-of-type) {
  margin-top: 32px;
}

mat-grid-tile.description {
  border-right: 1px solid #0000001f;
}

mat-grid-tile.description > div {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

mat-grid-tile.description, mat-grid-tile.attribute {
  border-bottom: 1px solid #0000001f;
}

mat-grid-tile.attribute > div {
}

mat-grid-tile.attribute mat-icon {
  margin-left: 8px;
}

mat-grid-tile.attribute strong {
  flex: 0 0 48px;
  padding: 0 8px;
}

mat-grid-tile.attribute span {
  flex: 1 0 10%;
}

mat-grid-tile.attribute strong:after {
  content: ":";
}
