mat-toolbar {
  display: flex;
  justify-content: space-between;
}

mat-card {
  margin-top: 32px;
}

mat-card-content {
  padding: 16px;
}

#extractionMatrix {
  display: grid;
  grid-template-columns: 24px repeat(53, 12px);
  grid-template-rows: 24px repeat(7, 12px);
  grid-gap: 4px;
}

#extractionMatrix span.label {
  font-size: 11px;
  line-height: 12px;
}

#extractionMatrix span.label.day {
  text-align: right;
}

#extractionMatrix span.dot {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 2px;
}
