<app-container>
  <mat-toolbar color="accent">
    <span>{{ profile.email }}</span>
    <a mat-flat-button routerLink="settings">
      <mat-icon>settings</mat-icon>
      Settings
    </a>
  </mat-toolbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ profile.extractionMatrix?.sumExtractions }} extractions in the last
        year
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div id="extractionMatrix">
        <span class="label day" style="grid-column: 1; grid-row: 2">M</span>
        <span class="label day" style="grid-column: 1; grid-row: 3">T</span>
        <span class="label day" style="grid-column: 1; grid-row: 4">W</span>
        <span class="label day" style="grid-column: 1; grid-row: 5">T</span>
        <span class="label day" style="grid-column: 1; grid-row: 6">F</span>
        <span class="label day" style="grid-column: 1; grid-row: 7">S</span>
        <span class="label day" style="grid-column: 1; grid-row: 8">S</span>
        <span
          class="label month"
          *ngFor="let label of extractionMatrixMonthLabels | keyvalue"
          [style]="'grid-column: ' + label.key + ' / span 2; grid-row: 1'">
          {{ label.value }}
        </span>
        <span
          class="dot"
          *ngFor="
            let stats of profile.extractionMatrix?.dailyStats;
            let i = index
          "
          [style]="
            'grid-column: ' +
            (2 + Math.floor(i / 7)) +
            '; grid-row: ' +
            (2 + (i % 7))
          "
          [matTooltip]="
            stats.numExtractions.toString() + ' extractions on ' + stats.date
          ">
        </span>
      </div>
    </mat-card-content>
    <mat-card-footer id="extractionMatrixLegend"></mat-card-footer>
  </mat-card>
</app-container>
