<button [routerLink]="['/change']" mat-raised-button color="primary">
  Change Account Data
</button>
<button mat-raised-button color="primary" type="button" (click)="openDialog()">
  Delete Account
</button>
<button
  *ngIf="!redditLoggedIn"
  mat-raised-button
  color="primary"
  type="button"
  (click)="goToReddit()">
  Connect to Reddit
</button>
<button
  *ngIf="redditLoggedIn"
  class="redditConnection"
  disabled
  mat-raised-button
  color="primary"
  type="button"
  (click)="goToReddit()">
  Connected with Reddit
</button>
