mat-toolbar {
  display: flex;
  justify-content: space-between;
}

mat-card {
  margin-top: 32px;
}

mat-card-content {
  padding: 16px 16px 4px 16px;
}

#extractionMatrix {
  display: grid;
  grid-template-columns: 24px repeat(53, 12px);
  grid-template-rows: 24px repeat(7, 12px);
  grid-gap: 4px;
}

#extractionMatrixLegend {
  padding: 4px 16px 16px 16px;
  display: grid;
  grid-template-columns: 24px repeat(5, 12px) 24px;
  grid-template-rows: 100%;
  grid-gap: 4px;
}

span.label {
  font-size: 11px;
  line-height: 12px;
}

span.label.day {
  text-align: right;
}

span.dot {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 2px;
}

span.dot.fr1 {
  border-color: #DDB4C2;
  background-color: #FFD0E0;
}

span.dot.fr2 {
  border-color: #DD8AA7;
  background-color: #FFA0C0;
}

span.dot.fr3 {
  border-color: #DD618B;
  background-color: #FF70A1;
}

span.dot.fr4 {
  border-color: #DD3770;
  background-color: #FF4081;
}
