<app-container>
  <mat-card>
    <mat-card-content>
      <h1>Share your Recipe</h1>
      <form
        class="createRecipeForm"
        [formGroup]="createRecipeForm"
        (submit)="onSubmit()">
        <mat-form-field>
          <mat-label
            >Please write a description for your recipe including steps if
            necessary</mat-label
          >
          <textarea
            matInput
            [(ngModel)]="recipeDto.description"
            formControlName="description"></textarea>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">
          Submit your Recipe
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</app-container>
